/* STYLE GUIDE*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*NEW EVENT*/
.main-title{
    text-align: center;
    padding: 0.5em;
}

.submit{
    text-align: center;
}
.btn-info{
    width: 40%;
}
.new-event-container{
    padding: 1.5em;
    border-radius: 1rem;
    background-color: white;
    width: 50%;
    margin: auto;
}
/* FRIEND LIST */
.friend-container{
    padding: 1.5em;
    border-radius: 1rem;
    background-color: white;
    width: 80%;
    margin: auto;

}
#btn_addFriend{
    text-align: center;
    width: 20%;
}
